//linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
.header {
    position: relative;
    height: 100vh;
    background-image:
            linear-gradient(174deg, #292929 0%, #26252d 23%, transparent 375%),
            url(../public/utils/header-img.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  
    &-top {
      border-bottom: 1px solid var(--color-grey-dark-1);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #24262f;
      &>* {
        padding: 1rem 4.5rem;
        @media only screen and (max-width: $bp-small-res) {margin: 0;}
      }
    }
    &-icon {
      cursor: pointer;
      &_txt {
        font-size: 1.5rem;
        font-style: italic;
        font-family: "Bradley Hand ITC";
        color: var(--color-grey-light-2);
      }
    }
    &_nav {
      @media only screen and (max-width: $bp-small-res) {display: none;}
      &-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        
      }
      &-item {
        display: inline-block;
       
        &:not(:last-child) {
          margin-right: 3.5rem;
          @media only screen and (max-width: 45em) {
           margin-right: 2rem;
    }
        }
        .active-link {
          font-size: 1.7rem;
        color: var(--color-grey-light-1);
        text-transform: capitalize;
        text-decoration: none;
        padding-bottom: .2rem;
        transition: all .3s;
          border-bottom: 1px solid var(--color-grey-light-1);
        }
      }
      &-link {
        font-size: 1.7rem;
        color: var(--color-grey-light-1);
        text-transform: capitalize;
        text-decoration: none;
        padding-bottom: .2rem;
        transition: all .3s;
    //     transform: scale(1);
    // -webkit-transform: scale(1);


        &:hover {
          // transform: scale(1.2);
          // -webkit-transform: scale(1.2);
          border-bottom: 1px solid var(--color-grey-light-1);
        }
      }
    }
    &_text-box {
      position: absolute;
      top: 45%;
      left: 25%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: $bp-large) {left: 31%;}
      @media only screen and (max-width: 40.625em) {right: 46%;}
      @media only screen and (max-width: 25.625em) {right: 31%;}
      @media only screen and (max-width: 23.4375em) {right: 20%;}
      @media only screen and (max-width: 22.3125em) {right: 17%}
    }
    &_text {
      &-h1 {
        color: var(--color-grey-light-1);
        backface-visibility: hidden;
      }
      &-primary {
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: .4rem;
        display: block;

        @media only screen and (max-width: 45em) {
          font-size: 5rem;
  }
  @media only screen and (max-width: 40.625em) {font-size: 4rem;}}
      &-secondary {
        font-size: 2rem;
        font-weight: $font-weight;
        letter-spacing: .2rem;
        @media only screen and (max-width: 23.4375em) {font-size: 1.5rem;}
      }
    }
    &-tools {
      transition: all .3s;
  
      &-item {
        display: inline-block;
        margin: 1rem 0;
        background-color: rgba(black, .2);
        padding: .5rem;
        border-radius: 4px;
        color: aliceblue;
        font-size: $font-variable;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all .4s;
        &:first-child {
          @media only screen and (max-width: $bp-small-res) {
            display: none;
          }
        }
        @media only screen and (max-width: 41.5625em) {
          font-size: 1.1rem;
   }
        &:not(:last-child) {
          margin-right: 1.5rem;
          @media only screen and (max-width: 45em) {
            margin-right: .5rem;
     }
        }
        &>span {
          text-transform: capitalize;
          margin-right: .5rem;
          transition: all .4s;
        }
      }
      &-btn {
        border: none;
        display: none;
        //visibility: hidden;
        background-color: #ef2b3d;
        border-radius: 50%;
        padding: 0.4rem;
        line-height: 0.6;
        text-align: center;
        color: white;
        transition: all .4s;
        -webkit-transition-delay: .3s;
      }
      &-item:hover  &-btn {
        //visibility: visible;
        display: block;
      }
    }
    &-btns {
      margin: 2rem 0;
      &>* {
        margin-right: 1.2rem;
      }
      &-1{
        color: var(--color-grey-light-2);
        transition: all .3s;
        &:link,
        &:active {
          text-decoration: none;
          font-size: 1.6rem;
          text-transform: uppercase;
          padding: 1rem 2rem;
          border-radius: 50px;
          border: 1px solid var(--color-grey-light-2);
          font-weight: 500;
          @media only screen and (max-width: 29.6875em) {
            font-size: 1.4rem;
            padding: 1rem 1.3rem;
            font-weight: 400;
           }
          @media only screen and (max-width: 22.3125em) {
           font-size: 1.3rem;
           padding: 1rem;
          }

          &:hover {
            background-color: var(--color-grey-light-1);
            color: var(--color-grey-dark-1);
          }
        }
      }
    }
   
}
