:root {
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --color-dark: #1f1f1f;
  --color-secondary-light: #fff;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --color-dark-2: #242121;
  --scrollbarBG: #CFD8DC;
  --thumbBG: #3145a0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "nunito", sans-serif;
  color: var(--color-grey-dark-1);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-grey-light-1);
}

.container {
  background-color: var(--color-grey-light-2);
  margin: 0.3rem;
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::selection {
  background-color: transparent;
}

.left {
  position: absolute;
  left: 205%;
}
@media only screen and (max-width: 60.9375em) {
  .left {
    left: 175%;
  }
}
@media only screen and (max-width: 53.75em) {
  .left {
    left: 150%;
  }
}
@media only screen and (max-width: 46.25em) {
  .left {
    left: 46%;
    bottom: -120%;
  }
}
@media only screen and (max-width: 40.625em) {
  .left {
    bottom: -110%;
  }
}
.left-icons {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 46.25em) {
  .left-icons {
    flex-direction: row;
  }
}
.left-icon {
  height: 2.3rem !important;
  width: 2.3rem !important;
  fill: var(--color-grey-light-2) !important;
  margin: 0.5rem;
  transition: all 0.2s;
}
.left .fb:hover {
  fill: #3b5998 !important;
}
.left .wa:hover {
  fill: #1ebea5 !important;
}
.left .tw:hover {
  fill: #00ACEE !important;
}
.left .ln:hover {
  fill: #039edb !important;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}
@media only screen and (max-width: 67.1875em) {
  .mr-5 {
    margin: 0;
  }
}

.navigation {
  display: none;
  margin-left: 30%;
}
.navigation__checkbox {
  display: none;
}
@media only screen and (max-width: 30.625em) {
  .navigation {
    display: block;
  }
}
.navigation__button {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2000;
  border: 1px solid var(--color-dark);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__icon {
  position: relative;
  margin-top: 1.3rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.3rem;
  height: 2px;
  background-color: var(--color-dark);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.45rem;
}
.navigation__icon::after {
  top: 0.4rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.navigation-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: radial-gradient(#221a86, #0b2f68);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__items {
  margin: 2rem;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  display: inline-block;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #0b2f68;
  transform: translateX(1rem);
}

.popup-flex {
  display: flex;
  justify-content: center;
}
.popup-div {
  display: flex;
  align-items: center;
}
.popup-div span {
  margin-right: 15px;
}
.popup-div h5 {
  font-size: 1.6rem;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
}
.popup-icon-danger {
  height: 4rem !important;
  width: 4rem !important;
  fill: #dad72d !important;
}
@media only screen and (max-width: 67.4536em) {
  .popup-icon-danger {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}
@media only screen and (max-width: 54.6em) {
  .popup-icon-danger {
    height: 3rem !important;
    width: 3rem !important;
  }
}
@media only screen and (max-width: 45.7em) {
  .popup-icon-danger {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }
}
.popup-icon-success {
  height: 4rem !important;
  width: 4rem !important;
  fill: #1464f8 !important;
}
@media only screen and (max-width: 67.4536em) {
  .popup-icon-success {
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}
@media only screen and (max-width: 54.6em) {
  .popup-icon-success {
    height: 3rem !important;
    width: 3rem !important;
  }
}
@media only screen and (max-width: 45.7em) {
  .popup-icon-success {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }
}
.popup-center {
  position: absolute;
  width: 35%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2rem;
  background-image: linear-gradient(to right bottom, rgba(28, 33, 53, 0.8), rgba(14, 39, 44, 0.8));
  color: white;
}
@media only screen and (max-width: 54.6em) {
  .popup-center {
    width: 50%;
  }
}
.popup--animate {
  animation: bounceInDown 0.5s ease-out 0.3s;
  -webkit-animation: bounceInDown 0.5s ease-out 0.3s;
}
.popup-alert-danger {
  background-color: #dad72d !important;
}
.popup-alert-success {
  background-color: #1464f8;
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.personal {
  position: relative;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(174deg, #292929 0%, #232327 10%, transparent 375%), url(../public/utils/background-img2.png);
  padding: 6rem;
  height: 94vh;
  overflow-y: hidden;
  transition: all 0.3s cubic-bezier(0.38, 0.01, 0.15, 0.99);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 42.5em) {
  .personal {
    padding: 2rem;
  }
}
.personal-mirror {
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.8px);
  border-bottom: 1px solid var(--color-grey-light-2);
}
@media only screen and (max-width: 42.5em) {
  .personal-mirror {
    padding: 2.5rem;
  }
}
.personal-mirror > * {
  color: var(--color-grey-light-1);
}
.personal::-webkit-scrollbar {
  width: 12px;
}
.personal::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 10px;
}
.personal::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
@media only screen and (max-width: 49.0625em) {
  .personal {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
}
.personal:hover {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.about {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}
.about-hdText {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 600;
  font-style: normal;
}
.about-spanText {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
}
.about > p {
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.about-link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.7rem;
  border-radius: 50px;
  font-weight: 600;
  color: var(--color-dark);
}
.about-link > span:not(:last-child) {
  margin-right: 0.5rem;
}
.about-link > span:last-child {
  display: flex;
  justify-content: end;
}
.about-link:link, .about-link:active {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  width: 15%;
  transition: all 0.3s;
}
@media only screen and (max-width: 75em) {
  .about-link:link, .about-link:active {
    width: 25%;
  }
}
@media only screen and (max-width: 42.5em) {
  .about-link:link, .about-link:active {
    width: 30%;
  }
}
@media only screen and (max-width: 32.5em) {
  .about-link:link, .about-link:active {
    width: 39%;
  }
}
@media only screen and (max-width: 24.875em) {
  .about-link:link, .about-link:active {
    width: 60%;
  }
}
.about-link:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.about-icon {
  height: 2rem !important;
  width: 2rem !important;
}

.services {
  padding: 2.5rem;
}
@media only screen and (max-width: 24.875em) {
  .services {
    padding: 1.5rem;
  }
}
.services-hdText {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
  font-style: normal;
}
@media only screen and (max-width: 32.5em) {
  .services-hdText {
    font-size: 2rem;
  }
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 3rem;
  align-items: start;
}
.services-card {
  padding: 1rem;
}
.services-card-icon {
  height: 4rem !important;
  width: 4rem !important;
}
@media only screen and (max-width: 32.5em) {
  .services-card-icon {
    height: 3rem !important;
    width: 3rem !important;
  }
}
.services-card-hdText {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  font-style: normal;
}
@media only screen and (max-width: 32.5em) {
  .services-card-hdText {
    font-size: 1.5rem;
  }
}
.services-card > p {
  font-size: 1.4rem;
}

.contact {
  position: relative;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(174deg, #292929 0%, #232327 10%, transparent 375%), url(../public/utils/background-img2.png);
  padding: 11rem 4rem;
  display: flex;
  height: 94vh;
}
@media only screen and (max-width: 71.6667em) {
  .contact {
    padding: 9rem 2rem;
  }
}
@media only screen and (max-width: 43.125em) {
  .contact {
    padding: 12rem 0;
  }
}
@media only screen and (max-width: 35em) {
  .contact {
    padding: 3rem;
    height: 100vh;
    flex-direction: column;
  }
}
.contact-box1 {
  flex: 0 0 40%;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
}
.contact-box1-header_text {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--grey-light-1);
  border-bottom: 2px solid var(--grey-light-1);
  width: 70%;
  padding-bottom: 3px;
  margin: 0 auto 4rem auto;
}
@media only screen and (max-width: 51.5625em) {
  .contact-box1-header_text {
    font-size: 2rem;
  }
}
.contact-box1-detail {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
@media only screen and (max-width: 51.5625em) {
  .contact-box1-detail {
    margin: 1rem 0;
  }
}
.contact-box1-detail > span {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--grey-light-1);
}
@media only screen and (max-width: 51.5625em) {
  .contact-box1-detail > span {
    font-size: 1.7rem;
  }
}
.contact-box1-icon {
  margin-right: 13px;
  fill: var(--grey-light-1) !important;
  height: 5rem !important;
  width: 5rem !important;
}
@media only screen and (max-width: 43.125em) {
  .contact-box1-icon {
    height: 4rem !important;
    width: 4rem !important;
  }
}
@media only screen and (max-width: 35em) {
  .contact-box1-icon {
    height: 3rem !important;
    width: 3rem !important;
  }
}
.contact-box2 {
  flex: 1;
}
.contact_form-group:not(:last-child) {
  margin-bottom: 2rem;
}
.contact_form-input {
  padding: 1.5rem 2rem;
  font-family: inherit;
  color: inherit;
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 85%;
  display: block;
  transition: all 0.3s;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 27.5em) {
  .contact_form-input {
    width: 100%;
  }
}
.contact_form-input::-webkit-input-placeholder {
  color: var(--grey-dark-3);
}
.contact_form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-secondary-light);
}
.contact_form-input:focus:invalid {
  border-bottom: 3px solid rgba(250, 4, 4, 0.664);
}
.contact_form_btn {
  background-color: var(--color-secondary-light);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "josefin sans", Sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.3s;
}
.contact_form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.7rem 0 0 2rem;
  display: block;
  transition: all 0.3s;
  color: var(--color-grey-light-2);
}
.contact_form-input:placeholder-shown + .contact_form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  color: black;
  border: none;
  cursor: pointer;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--white {
  background-color: var(--color-secondary-light);
  color: #fff;
}
.btn--white::after {
  background-color: var(--color-secondary-light);
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(174deg, #292929 0%, #26252d 23%, transparent 375%), url(../public/utils/header-img.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.header-top {
  border-bottom: 1px solid var(--color-grey-dark-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #24262f;
}
.header-top > * {
  padding: 1rem 4.5rem;
}
@media only screen and (max-width: 30.625em) {
  .header-top > * {
    margin: 0;
  }
}
.header-icon {
  cursor: pointer;
}
.header-icon_txt {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Bradley Hand ITC";
  color: var(--color-grey-light-2);
}
@media only screen and (max-width: 30.625em) {
  .header_nav {
    display: none;
  }
}
.header_nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header_nav-item {
  display: inline-block;
}
.header_nav-item:not(:last-child) {
  margin-right: 3.5rem;
}
@media only screen and (max-width: 45em) {
  .header_nav-item:not(:last-child) {
    margin-right: 2rem;
  }
}
.header_nav-item .active-link {
  font-size: 1.7rem;
  color: var(--color-grey-light-1);
  text-transform: capitalize;
  text-decoration: none;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
  border-bottom: 1px solid var(--color-grey-light-1);
}
.header_nav-link {
  font-size: 1.7rem;
  color: var(--color-grey-light-1);
  text-transform: capitalize;
  text-decoration: none;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}
.header_nav-link:hover {
  border-bottom: 1px solid var(--color-grey-light-1);
}
.header_text-box {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 56.25em) {
  .header_text-box {
    left: 31%;
  }
}
@media only screen and (max-width: 40.625em) {
  .header_text-box {
    right: 46%;
  }
}
@media only screen and (max-width: 25.625em) {
  .header_text-box {
    right: 31%;
  }
}
@media only screen and (max-width: 23.4375em) {
  .header_text-box {
    right: 20%;
  }
}
@media only screen and (max-width: 22.3125em) {
  .header_text-box {
    right: 17%;
  }
}
.header_text-h1 {
  color: var(--color-grey-light-1);
  backface-visibility: hidden;
}
.header_text-primary {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  display: block;
}
@media only screen and (max-width: 45em) {
  .header_text-primary {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 40.625em) {
  .header_text-primary {
    font-size: 4rem;
  }
}
.header_text-secondary {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 23.4375em) {
  .header_text-secondary {
    font-size: 1.5rem;
  }
}
.header-tools {
  transition: all 0.3s;
}
.header-tools-item {
  display: inline-block;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 4px;
  color: aliceblue;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
@media only screen and (max-width: 30.625em) {
  .header-tools-item:first-child {
    display: none;
  }
}
@media only screen and (max-width: 41.5625em) {
  .header-tools-item {
    font-size: 1.1rem;
  }
}
.header-tools-item:not(:last-child) {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 45em) {
  .header-tools-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}
.header-tools-item > span {
  text-transform: capitalize;
  margin-right: 0.5rem;
  transition: all 0.4s;
}
.header-tools-btn {
  border: none;
  display: none;
  background-color: #ef2b3d;
  border-radius: 50%;
  padding: 0.4rem;
  line-height: 0.6;
  text-align: center;
  color: white;
  transition: all 0.4s;
  -webkit-transition-delay: 0.3s;
}
.header-tools-item:hover .header-tools-btn {
  display: block;
}
.header-btns {
  margin: 2rem 0;
}
.header-btns > * {
  margin-right: 1.2rem;
}
.header-btns-1 {
  color: var(--color-grey-light-2);
  transition: all 0.3s;
}
.header-btns-1:link, .header-btns-1:active {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: 1px solid var(--color-grey-light-2);
  font-weight: 500;
}
@media only screen and (max-width: 29.6875em) {
  .header-btns-1:link, .header-btns-1:active {
    font-size: 1.4rem;
    padding: 1rem 1.3rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 22.3125em) {
  .header-btns-1:link, .header-btns-1:active {
    font-size: 1.3rem;
    padding: 1rem;
  }
}
.header-btns-1:link:hover, .header-btns-1:active:hover {
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-1);
}

.portfolio {
  padding: 3rem 5rem;
  background-image: linear-gradient(174deg, #292929 0%, #232327 10%, transparent 375%), url(../public/utils/background-img.png);
  position: relative;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 93.8vh;
  overflow-y: hidden;
  transition: all 0.3s cubic-bezier(0.38, 0.01, 0.15, 0.99);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 51.125em) {
  .portfolio {
    padding: 2rem 1rem !important;
  }
}
.portfolio::-webkit-scrollbar {
  width: 12px;
}
.portfolio::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 10px;
}
.portfolio::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
@media only screen and (max-width: 49.0625em) {
  .portfolio {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
}
.portfolio:hover {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.portfolio-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
  align-items: start;
  grid-row-gap: 2rem;
  padding: 3rem 12rem !important;
}
@media only screen and (max-width: 69.375em) {
  .portfolio-row {
    padding: 3rem !important;
  }
}
@media only screen and (max-width: 56.875em) {
  .portfolio-row {
    grid-column-gap: 3rem;
    padding: 1rem important;
  }
}
.portfolio-card {
  position: relative;
}
.portfolio-shape {
  background-color: rgba(24, 24, 24, 0.651);
  padding: 3rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0.8rem 1.3rem 2.5rem 0 rgba(66, 62, 62, 0.75), 0.2rem -0.7rem 0.7rem 0 rgba(65, 57, 57, 0.95);
}
.portfolio-shape > div:not(:last-child) {
  background-image: linear-gradient(4deg, rgba(12, 12, 12, 0.9), rgba(213, 218, 228, 0.8) 50%, rgba(255, 255, 255, 0.8) 66%);
}
.portfolio-image {
  height: 40rem !important;
  width: 40rem !important;
  transform: scale(1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -0.4rem 0.3rem 1.6rem 0 rgba(0, 0, 0, 0.801), -0.8rem -1.2rem 1.2rem 0 rgba(41, 7, 7, 0.952);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.portfolio-figcaption {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, 20%);
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.portfolio-shape:hover .portfolio-figcaption {
  opacity: 1;
  transform: translate(-50%, -100%);
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
}
.portfolio-shape:hover .portfolio-image {
  opacity: 0.8;
  transform: scale(1.15);
  -webkit-filter: blur(1px) brightness(85%);
  filter: blur(1px) brightness(85%);
}
.portfolio-icon {
  height: 3rem !important;
  width: 3rem !important;
  fill: var(--color-grey-light-1) !important;
}
.portfolio-caption > span {
  font-size: 2rem;
  color: var(--color-grey-light-2);
}

/*# sourceMappingURL=App.css.map */
